{% extends 'base.html.twig' %}

{% block title %}Formulaire TaskType{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center ">
  <div class="w-full max-w-lg bg-white p-8 rounded shadow">
    <h1 class="text-2xl font-bold mb-6 text-center">Formulaire TaskType</h1>
    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

    {# Boucle sur chaque champ du formulaire en excluant "progress porcent" #}
    {% for child in form %}
      {% if child.vars.name != 'progress_percent' %}
        <div>
          {{ form_label(child, null, {'label_attr': {'class': 'block text-gray-700'}}) }}
          {{ form_widget(child, {'attr': {'class': 'mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:border-indigo-500'}}) }}
          {{ form_errors(child) }}
        </div>
      {% endif %}
    {% endfor %}

    <div class="text-right">
      <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition duration-200">
        Enregistrer
      </button>
    </div>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
